/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style */
section {
    display: flex;
    background-color: #333;
    width: 100vw;
    min-height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 40px;
    margin: 30px 0 40px;
}

.content {
    padding: 25px;
    width: 70%;
    height: 40%;
    background-color: #fff;
    margin: auto;
    border-radius: 15px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
}

span {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #333;
    font-weight: 800;
    margin-bottom: 35px;
}

span::after,
span::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    width: 30%;
    height: 3px;
    background-color: #333;    
}

li {
    font-size: 18px;
    margin-left: 50px;
    list-style: none;
    padding-bottom: 10px;
}

/* FINE */
